<footer class="footer footer-default">
    <div class="container">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="#/">
                        OGITASK
                    </a>
                </li>
                <li>
                    <a>
                        About Us
                    </a>
                </li>
                <li>
                    <a>
                        Blog
                    </a>
                </li>
                <li>
                    <a>
                        Help
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            © 2020 All right Reversed.
        </div>
    </div>
</footer>